.nav {
    height: 50px;
    background: #4267b2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cartIconContainer {
    position: relative;
}
.cartCount {
    font-weight: bold;
    background-color: greenyellow;
    border-radius: 50%;
    padding: 1.2px 6.5px;
    position: absolute;
    right: 0;
    top: 0;
}
